# Скопируйте этот файл в .env и заполните свои данные
AWS_ACCESS_KEY_ID=твой_ключ_от_сервисного_аккаунта_yandex
AWS_SECRET_ACCESS_KEY=твой_секрет_от_сервисного_аккаунта_yandex
BUCKET_NAME=bot-data-storage # Или то название, которое у вас бакете

# Дополнительно можно указать локально для тестов:
# APP_URL=https://functions.yandexcloud.net/xxxxxxxxx

VK_MINIAPP_SECRET=
VK_MINIAPP_APP_URL=https://vk.com/appXXXX
